In [1]:
import pandas as pd 
import ast

Load original kaggle book rating dataset

In [2]:
data = pd.read_csv("original_ratings.csv", index_col=False)

Drop location and unamed columns

In [3]:
data = data.drop(['location', 'Unnamed: 0'], axis=1)

Convert column names to small letters

In [4]:
data = data.rename(columns={"Language": "language", "Summary": "summary", "Category": "category"})

Drop rows that contain NaN values

In [5]:
data = data.dropna()

Remove list symbols from category column

In [6]:
def remove_pre_suf_fix(string):  
    prefix = "['"
    suffix = "']"
    
    string = string.removeprefix(prefix)
    string = string.removesuffix(suffix)
    
    return string

data["category"] = data["category"].apply(lambda x: remove_pre_suf_fix(x))

Convert age and year of publication to integers

In [7]:
data["age"] = data["age"].apply(lambda x: int(x))
data["year_of_publication"] = data["year_of_publication"].apply(lambda x: int(x))

In [9]:
data.head()

,user_id,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,summary,language,category,city,state,country
0,2,18,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,Social Science,stockton,california,usa
1,8,34,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,Actresses,timmins,ontario,canada
2,11400,49,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,Actresses,ottawa,ontario,canada
4,41385,34,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,Actresses,sudbury,ontario,canada
5,67544,30,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,Actresses,toronto,ontario,canada

In [10]:
data.to_csv("processed_ratings.csv", index=False)